/* 견적-신규등록*/
table {
  width: 1920px;
  max-width: 1920px;
  table-layout: fixed;
}
.table-container {
  width: 1920px;
  overflow-x: auto;
}
.table td {
  font-size: 0.65rem;
  padding: 0.2rem;
  margin: 10px, 0px;
  height: 40px;
  vertical-align: middle;
}
.fa-solid {
  vertical-align: middle; /* top, bottom, middle 중 선택 */
}

/* 아이콘의 마진 조정 */
.fa-solid {
  padding: 0px;
  margin-top: 0px; /* 위쪽 마진 조정 */
  margin-bottom: 0px; /* 아래쪽 마진 조정 */
}
.table-hover tbody tr:hover {
  background-color: #eee157;
}
.form-control {
  margin: 0px;
  padding: 0px;
}
input {
  padding: 1px 1px; /* 상하 2px, 좌우 5px로 조정 */
}
.small-input {
  font-size: 0.65rem; /* 또는 14px */
  text-align: right;
}
.small-btn {
  padding: 0.2rem 0.2rem; /* 상하, 좌우 패딩 조정 */
  font-size: 0.65rem; /* 글자 크기 조정 */
}
