table {
  margin-top: 0px !important;
}
table th,
td {
  height: 30px !important;
}
.modal-body {
  font-size: 0.75rem !important;
}
.card-body {
  font-size: 0.75rem !important;
}
.form-floating {
  font-size: 0.75rem !important;
}
.form-control {
  font-size: 0.85rem !important;
  padding-left: 100px !important;
}
.floatingInput {
  font-size: 0.75rem !important;
}
