table {
  margin-top: 0px !important;
}
.modal-body {
  font-size: 0.75rem !important;
}
.card-body {
  font-size: 0.75rem !important;
}
.form-floating {
  font-size: 0.75rem !important;
}
.form-control {
  font-size: 0.75rem !important;
}
.card-body {
  font-size: 0.75rem !important;
}
.floatingInput {
  font-size: 0.75rem !important;
}
