/* 화면상단 메뉴 구성*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.right-align {
  text-align: right;
}
.detailed_info_container {
  max-width: 100%;
  overflow-x: auto; /* 필요한 경우 가로 스크롤 활성화 */
  margin: 1px;
  width: 100%;
  overflow-x: auto;
}
/* 아이콘에만 스타일 적용 */
.link-primary i,
.link-secondary i {
  font-size: 0.6rem; /* 아이콘 크기 조절 */
}
.link-primary i,
.link-secondary i {
  margin-right: 2px; /* 오른쪽 마진 조절 */
  padding: 0; /* 패딩 제거 */
}

.search-input {
  width: auto; /* 또는 적절한 퍼센티지 */
  max-width: 80%; /* 필요에 따라 조절 */
}

.wallpoet-regular {
  font-family: 'Wallpoet', sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul li {
  list-style: none;
}

img {
  display: block;
}

header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 10px;
  background-color: cadetblue;
  align-items: center;
  color: azure;
  text-decoration: none;
}
header a {
  text-decoration: none;
  color: azure;
}
header .logo {
  flex: 1 1 30%;
  margin-top: 1px;
  margin-left: 1px;
}
header .title {
  font-family: 'Wallpoet', sans-serif;
  flex: 1 1 15%;
  padding: 5px;
  justify-content: left;
  align-items: left;
  font-size: 14px;
}

#menu {
  flex: 63%;
  font: bold 16px 'malgun gothic';
  height: 35px;
  background: cadetblue;
  color: azure;
  line-height: 25px;
  margin-top: 0px;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
}

#menu > ul > li {
  float: left;
  width: 90px;
  position: relative;
}
#menu > ul > li > ul {
  width: 100px;
  display: none;

  font-size: 14px;
  background: skyblue;
}
#menu > ul > li:hover > ul {
  display: block;
}
#menu > ul > li > ul > li:hover {
  background: orange;
  transition: ease 1s;
}

.form-control,
.form-select,
.small-font {
  font-size: 0.75rem !important;
}
.custom-modal-size .modal-dialog {
  max-width: 1800px !important; /* 최대 너비를 명시적으로 설정 */
  height: auto;
  width: auto !important; /* 너비를 자동으로 조절 */
  margin: auto; /* 중앙 정렬 */
}
.modal-dialog {
  margin-top: 20vh !important; /* 상단 여백을 뷰포트 높이의 10%로 설정 */
  transform: translateY(
    0%
  ) !important; /* Y축 변환을 0%로 설정하여 추가 이동 없음 */
}
.custom-modal-size-1 .modal-dialog {
  max-width: 1900px !important; /* 최대 너비를 명시적으로 설정 */
  height: auto;
  width: auto !important; /* 너비를 자동으로 조절 */
  margin: auto; /* 중앙 정렬 */
}
.modal-header {
  height: 50px; /* 원하는 높이로 설정 */
  padding: 10px; /* 상하 좌우 패딩 조정 */
}
.modal-footer {
  height: 50px; /* 원하는 높이로 설정 */
  padding: 5px; /* 상하 좌우 패딩 조정 */
}
/* table td {
  height: 40px;
} */
